PORT=3000

DB_HOST=aws-1-ap-southeast-2.pooler.supabase.com
DB_USER=postgres.vekrrmhwnhahjocpvypp
DB_PASSWORD=E-SNAF-VOL1
DB_NAME=postgres
DB_PORT=5432


CLIENT_URL=http://localhost:5173
SESSION_SECRET=esnaf_gizli_anahtar