PORT=3000

DB_USER=postgres.qweyztueiwnvjextvmky
DB_HOST=aws-1-ap-northeast-1.pooler.supabase.com
DB_NAME=postgres
DB_PASSWORD=E-SNAF-VOL1
DB_PORT=5432

CLIENT_URL=http://localhost:5173
SESSION_SECRET=esnaf_gizli_anahtar