//supabase bağlantısı

PORT=3000

DB_HOST=aws-1-ap-southeast-2.pooler.supabase.com
DB_USER=postgres.vekrrmhwnhahjocpvypp
DB_PASSWORD=E-SNAF-VOL1
DB_NAME=postgres
DB_PORT=5432


CLIENT_URL=http://localhost:5173
SESSION_SECRET=esnaf_gizli_anahtar
***********************************************************************************************

//sunucu taraflı veritabanı kullanmak için

PORT=3000
NODE_ENV=production

DB_HOST=127.0.0.1 
DB_USER=esnaf
DB_PASSWORD=i4DGwmnGpybKZrpE
DB_NAME=esnaf
DB_PORT=5432

SESSION_SECRET=esnaf_gizli_anahtar
CLIENT_URL=https://esnaf.apps.srv.aykutdurgut.com.tr